header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.myname{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  /* display: inline-block; */

  animation: 
    typing 2s steps(20) ,
    blink-caret 0.75s step-start;
}

.namecontainer {
    display: inline-block;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 ;
 /* border: var(--color-primary); */
}
  to { width:100%;
border-color: var(--color-primary); }

  
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from { border-color: transparent; }
  to { border-color: var(--color-primary); }

 
}



/* =================CTA================= */

.cta {
    display: flex;
    gap: 1.2rem;
    margin-top: 2.5rem;
    justify-content: center;
}

/* ===================Header Socials=============== */

.header_socials {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    position: absolute;
    left:0;
    bottom:  3rem;
}

.header_socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.me {
    position: relative;
    width: 17rem;
    height: 15rem;
    background: linear-gradient(var(--color-primary), transparent);
    border-radius: 12rem 12rem 0 0;
    margin-top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    padding: 3rem 0rem auto 0rem;
}

.me img{
    position: absolute;
    top: -8%;
}

/* =========== scroll down  ============= */

.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    font-weight: 300;
    transform: rotate(90deg);
    font-size: 0.9rem;
}


/* =========== MEDIA QUERIES (MEDIUM DEVICES) ============== */

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ============== */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header_socials, .scroll_down {
        display: none;
    }
}
