footer {
  background-color: var(--color-primary);
  /* display: flex; */
  text-align: center;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  padding: 3rem 0;
  margin-top: 7rem;
  font-size: 0.9rem;
  /* color: black!Important; */
}

footer a {
  color: var(--color-bg);
}

.footer_logo {
  font-size: 2rem;
  font-weight: 500;
  display: inline-block;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.footer_socials {
  display: flex;
  gap: 1rem;
  /* font-size: 1.8rem; */
  justify-content: center;
  margin-bottom: 4rem;
}

.footer_socials a {
  background: var(--color-bg);
  color: var(--color-white);
  border: 1px solid transparent;
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
}

.footer_socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.footer_copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ============== */

@media screen and (max-width: 1024px) {
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ============== */

@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer_socials{
    margin-bottom: 2.6rem;
  }

}
